/* IMPORTANT
 Colors - Dark To Light
#357960
#00AD51
#79C253
#02ec88


2 fonts 
    Montserrat for all titles
    Karla for p
    USE BOOTSTRAP DISPLAYS 

-Build mobile friendly
-Add img sources to about page as you go 
- Go for a relativy minimalistc look
*/
#logo {
    height: 200px;
}
.navbar{
    max-height: 125px;
    background-color: azure;
}
.navbar-nav{
    margin: auto;
    
}
.navix_rounded_image {
    border-radius: 3%;
}
.nav-link{
    display: block;
    padding-bottom: .25rem;
    position: relative;
}

.nav-link::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: width 0.25s ease-out;
}
.nav-link:hover::before{
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Karla', sans-serif;

}

.slant-container {
    position: relative;
    overflow: hidden;
   
  }
  
  .slant-container::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:#357960;
    transform: skewY(5deg);
    transform-origin: left top;
    
  }
  .slant-content {
    position: relative;
    top: 20%;
    left: 10%;
    color: white;
    
  }
  .on_top{
    font-size:20px;
    font-weight: bold;
    display: block;
    
  }