.our-story-section{
    background-color:#00AD51;
    color: #ffffff;
    padding: 80px 0;
}
.cta-section {
    background-color: #00AD51;
    color: #ffffff;
    padding: 80px 0;
}
#attribution_subcategory {
    font-weight: bold;
}
#attribution_link {
    color: #00AD51;
    text-decoration: none;
}
#border {
    border-bottom: 1px solid #999999;
}
#about_block1 {
    height: 350px;
    margin: 2.5% 0% 5% 0%;
}
#about_block2 {
    height: 350px;
    margin: 5% 0% 2.5% 0%;
}
.image_text {
    top: 57%;
    transform: translateY(-50%);
}