
.rowtext{
    margin: 25px;
}
img{
    max-height: 220px;
}
.articles{
    margin-top: 100px;
}
.whole-card {
    border: 1px black solid; 
    
}
.badge{
    background-color:#F4F4F5;
}
.hero-image {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
   
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
  }
.newsletter{
    box-shadow: 25px 20px ;
    background-color: white;
    padding: 10px;
}
@media only screen and (min-width: 992px){ 
    #logo2 { 
    min-height: 150px; 
    min-width: 175px; 
    max-height: 150px; 
    max-width: 175px; 
 
    } 
}
 @media only screen and (max-width: 992px) { 
    #logo2 { 
        height: 80px; 
        width: 100px; 
    } 
}
