.hero{
    background-color: green;
}
.rowtext{
    margin: 25px;
}
.newsletter{
    padding: 10px;
    
}
img{
    max-height: 220px;
}
.articles{
    margin-top: 100px;
}
.whole-card {
    /* border: 1px black solid; */
}
.card .figure:hover {
    transition: all 0.3s ease-in-out;   
    transform: scale(1.05);
}