.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.bento-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.bento-item {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.icon {
    font-size: 36px;
    margin-bottom: 10px;
}

.text {
    font-size: 16px;
}

.quick-actions {
    background-color: #f0f0f0;
}

.icon-circle {
    background: linear-gradient(to right, #357960, #00AD51, #02ec88);
    background: -webkit-linear-gradient(to right, #357960, #00AD51, #02ec88);
    background: -moz-linear-gradient(to right, #357960, #00AD51, #02ec88);
    background: -ms-linear-gradient(to right, #357960, #00AD51, #02ec88);
    background: -o-linear-gradient(to right, #357960, #00AD51, #02ec88);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-6 {
    width: 50%;
}
.text{
    font-size: 2rem;
}
.dashboard_link{
    text-decoration: none;
   
}