/* view div borders */
/* body * {
    border: 1px solid black;
} */
.es-info {
    width: 20%;
    height: auto;
    margin: 10%;
    padding: 2%;
    border: 1px solid black
}

.es-list {
    height: 100%;
}
.card {
    margin: 0.2%;
    padding: 1%;
    font-size: 200%;
    transition-duration: 200ms;
    background-color: #00AC51;
}
.card:hover {
    background-color: #00833d;
}
.energyheader{
    left: 200px;
}