/* IMPORTANT
Colors - Dark To Light
#357960
#00AD51
#79C253
#02ec88


2 fonts:
Montserrat for all titles [USE BOOTSTRAP DISPLAYS]
Karla for text

Important Points:
- Build using responsive design!
- Add image sources to documentation page as you go!
- A relatively minimalistic look is recommended!
*/

nav {
    position: fixed;
    top: 0px;
    z-index: 999;
}

#logo {
    height: 200px;
}

.navix_rounded_image {
    border-radius: 3%;
}

.navbar{
    max-height: 125px;
    background-color: black;
}

.navbar-nav{
    margin: auto; 
}

.nav-link{
    display: block;
    padding-bottom: .25rem;
    position: relative;
}

.nav-link::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: aliceblue;
    transition: width 0.25s ease-out;
}

.nav-link:hover::before{
    width: 100%;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    transition: display 4s ease-in-out 2s;
    width: 100%;
    font-size: large;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Karla', sans-serif;
}

.slant-container {
    position: relative;
    overflow: hidden;
}
  
  .slant-container::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:#357960;
    transform: skewY(5deg);
    transform-origin: left top;
  }

  .slant-content {
    position: relative;
    top: 20%;
    left: 10%;
    color: white;
  }

  .on_top{
    font-size:20px;
    font-weight: bold;
    display: block;
  }
  .link{
    border-radius:8px;
    background-color:#00AD51;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    display: inline-block;
    padding:5px;
} 
.link:hover{
    background-color:#357960;color:white
}
::selection{
    background: #00AD51;
    color: aliceblue;
}