/* IMPORTANT
Colors - Dark To Light
#357960
#00AD51
#79C253
#02ec88


2 fonts:
Montserrat for all titles [USE BOOTSTRAP DISPLAYS]
Karla for text

Important Points:
- Build using responsive design!
- Add image sources to documentation page as you go!
- A relatively minimalistic look is recommended!
*/

nav {
    position: fixed;
    top: 0px;
    z-index: 999;
}

@media only screen and (min-width: 992px){ #logo { min-height: 75px; min-width: 100px; max-height: 150px; max-width: 100px; margin-left: 15px; } } @media only screen and (max-width: 992px) { #logo { height: 50px; width: 75px; } }

.navix_rounded_image {
    border-radius: 3%;
}

.navbar{
    max-height: 125px;
    background-color:black;
}

.navbar-nav{
    margin: auto; 
}

.nav-link{
    display: block;
    padding-bottom: .25rem;
    position: relative;
}

.nav-link::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color:#02ec88;
    transition: width 0.25s ease-out;
}

.nav-link:hover::before{
    width: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    transition: display 4s ease-in-out 2s;
    width:300px;
    font-size: large;
    
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Karla', sans-serif;
}


.slant-container{
      position: relative;
      width: 100%;
      height: auto;
      background:#357960;
      box-sizing: border-box;
      padding: 30px;
      color: azure;
      margin-bottom: 200px;
      margin-top: 200px;
    }

    .slant-container:after{
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background: inherit;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform-origin: top left;
      transform: skewY(-6deg);
    }

  .slant-content {
    position: relative;
    top: 20%;
    left: 35%;
  
  }

  .on_top{
    font-size:20px;
    font-weight: bold;
    display: block;
    margin-top: 30px;
   
  }
  /* link tag = button */
  .link{
    border-radius:8px;
    background-color:#00AD51;
    text-align: center;
    text-decoration: none;
    border: none;
    color: white;
    display: inline-block;
    padding:5px;
} 
.link:hover{
    background-color:#357960;color:white
}
::selection{
    background: #00AD51;
    color: aliceblue;
}