here are the css/*
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face {
  font-family: Bebas;
  src: url('../fonts/BebasKai-Regular.otf');
}
*/
#numbers{
    max-width:500px;
}
/* New Styles */
.carousel .carousel-item {
    height: 92vh;
}
.carousel_image {
    width: 100% !important;
}
@media only screen and (min-width: 992px) {
    #carouselslide {
        top: 57%;
        transform: translateY(-50%);
    }
}
@media only screen and (max-width: 992px) {
    .carousel img{
        position: static;
    }
    .carousel .carousel-item{
        height: 40%;
    }
    #carouselslide {
        top: 53%;
        transform: translateY(-50%);
    }
}
#quote {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin: 2.5% 7.5% 2.5% 7.5%;
    padding: 2%;
    display: block;
}
#quote_text {
    font-size: 25px;
}
#quote_person {
    font-size: 20px;
}
#index_block1 {
    height: 320px;
    margin: 2.5% 0% 2.5% 0%;
}
#index_block2 {
    height: 320px;
    margin: 2.5% 0% 2.5% 0%;
}
#border {
    border-bottom: 1px solid #999999;
}
#cards {
    padding-top: 2%;
    border-top: 1px solid #999999;
}
.card{
    width: 400px;
    box-shadow: 25px 20px #357960;
}
.custom-card{
    width: 20rem;
    max-width: 95%
} 
.card-footer {
    min-height: 15%;
}
#helpful_link_1 {
    border: 5px solid #00ad51 !important;
}
#helpful_link_2 {
    border: 5px solid #39d98b !important;
}
#helpful_link_3 {
    border: 5px solid #20d4b9 !important;
}
.custom-btn2 {
    display: block;
    width: 60%;
    padding: 10px 20px;
    background-color: #00AD51;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    border: 1px solid #00AD51;
    margin: auto !important;
    text-align: center;
}
.custom-btn2:hover {
    display: block;
    width: 60%;
    padding: 10px 20px;
    background-color: #fff;
    color: #00AD51;
    margin: auto !important;
    text-align: center;
    border: 1px solid #00AD51;
}

.about{
    margin-top: 60px;
    margin-bottom: 20px;
}
.text {
    letter-spacing: -.01em;
    line-height: 100%;
    margin: 0;
    width: 100%;
    color: rgb(182, 182, 182, 0.2);
    background: linear-gradient(to right, #a4a4a4, #a4a4a4) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  
 
/*Soluions*/
 .sol-card {
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    width: 100% !important;
    height: 300px;
    background-color: whitesmoke;
   
}
.sol-card:hover {
    color: white;
    
}

.sol-card .sol-body {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.sol-card .sol-body h5 {
    margin: 0;
    flex-grow: 1;
    margin-top: 50px;
}
.sol-card .sol-body .sol-content {
    max-width: 45%;
    margin-top: 50px;
}
.sol-card .hover-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 1); /* Adjust the opacity as needed */
}
.sol-card:hover .hover-video {
    opacity: 1;
}


.sol-card .sol-body, .sol-card .sol-btn {
    position: relative;
    z-index: 1;
}
.sol-card .sol-btn {
    margin-top: 10px;
}
.sol-card:hover .sol-btn{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #00AD51;
    background-color: #00AD51;
    color: #fff;
}
.sol-btn{
    width: 100%;
    padding: 10px 10px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    background-color: #fff;
    color: #00AD51;
    border: 1px solid #00AD51;
    
}
.sol-btn:hover{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #00AD51;
    background-color: #00AD51;
    color: #fff;
}

.sol-link{
    text-decoration: none;
    color: inherit;
}
.pre-loader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex   ;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "PP Radio Grotesk";
    font-size: 2vw;
}
.pretext{
    margin-bottom: 1em;
}
.loader{
    width: 450px;
    height: 2px;
    background: #fff;
}
/*
 background-color: #fff;
    color: #00AD51;
    border: 1px solid #00AD51;
    border-radius: 5px; */
