/*
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@font-face {
  font-family: Bebas;
  src: url('../fonts/BebasKai-Regular.otf');
}
*/
#numbers{
    max-width:500px;
}
/* New Styles */
.carousel .carousel-item {
    height: 92vh;
}
.carousel_image {
    width: 100% !important;
}
@media only screen and (min-width: 992px) {
    #carouselslide {
        top: 57%;
        transform: translateY(-50%);
    }
}
@media only screen and (max-width: 992px) {
    .carousel img{
        position: static;
    }
    .carousel .carousel-item{
        height: 40%;
    }
    #carouselslide {
        top: 53%;
        transform: translateY(-50%);
    }
}
#quote {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    margin: 2.5% 7.5% 2.5% 7.5%;
    padding: 2%;
    display: block;
}
#quote_text {
    font-size: 25px;
}
#quote_person {
    font-size: 20px;
}
#index_block1 {
    height: 320px;
    margin: 2.5% 0% 2.5% 0%;
}
#index_block2 {
    height: 320px;
    margin: 2.5% 0% 2.5% 0%;
}
#border {
    border-bottom: 1px solid #999999;
}
#cards {
    padding-top: 2%;
    border-top: 1px solid #999999;
}
.card-img-top {
    border-radius: 0 !important;
}
.card{
    width: 400px;
    box-shadow: 25px 20px #357960;
}
.custom-card{
    width: 20rem;
    max-width: 95%
} 
.card-footer {
    min-height: 15%;
}
#helpful_link_1 {
    border: 5px solid #00ad51 !important;
}
#helpful_link_2 {
    border: 5px solid #39d98b !important;
}
#helpful_link_3 {
    border: 5px solid #20d4b9 !important;
}
.custom-btn2 {
    display: block;
    width: 60%;
    padding: 10px 20px;
    background-color: #00AD51;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    margin: auto !important;
    text-align: center;
}
.custom-btn2:hover {
    background-color: #fff;
    color: #00AD51;
    border: 1px solid #00AD51;
}