/*A General CSS file for Solar, Wind, Microhydro & Geothermal
SOME CODE MAY NOT BE RELEVENT BUT IS NEEDED FOR SUB NAV TO WORK
*/
.hero-image {
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
 
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
}
#works, #benifts, #providers, #faqs, #tax, #basics{
    padding: 80px 0px
    }
   #works{
    text-align: start;
   }
   /*Bento Grid*/
    .containerbento {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
        gap: 10px;
        
      }
    
      .item {
        position: relative;
        background-color: #292b2c;
        border-radius: 10px;
      }
    
      .item-3, .item-6 {
        grid-column: span 2;
      }
      /* For screens smaller than 768px */
      @media (max-width: 768px) {
       #benifts{
        display: none;
       }
    }
      
      /* Bento Grid Text Styles*/
      .center-text{
        position: absolute;
      top: 50%; /* Move the top edge to the center vertically */
      left: 50%; /* Move the left edge to the center horizontally */
      transform: translate(-50%, -50%); /* Center the text precisely */
      }
      .centered-text-below {
        position: absolute;
        top: calc(50% + 60px); /* Adjust the distance below the h1 */
        left: 50%;
        transform: translate(-50%, -50%);
        color: antiquewhite;
    }
      .fire2{
        font-family: 'Montserrat', sans-serif;
        font-size: 5rem;
        font-weight:600;
      color: transparent;
      background: linear-gradient(to right, #FF5722, #FF6347,#FFC107);
      background: -webkit-linear-gradient(to right, #FF5722, #FF6347,#FFC107);
      background: -moz-linear-gradient(to right, #FF5722, #FF6347,#FFC107);
      background: -ms-linear-gradient(to right, #FF5722, #FF6347,#FFC107);
      background: -o-linear-gradient(to right, #FF5722, #FF6347,#FFC107);
      background-clip: text;
      -webkit-background-clip: text;
      -ms-background-clip: text;
      -moz-background-clip: text;
      -o-background-clip: text;
  
      }