/*CSS file for the default solutions page listing links to all other solutions*/
#option_container a {
    display: block;
    margin-bottom: 28px;
}
.solution_option {
    border-radius: 42px;
    margin: none;
}
#solution_option_image {
    height: 180px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 320px;
}
#icon {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 180px;
}
#something {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
#secondary {
    font-weight: 300;
}
#solution_option1 {
    background-color: #1bbc64;
    border: 2px solid #1bbc64;
}
#solution_option2 {
    background-color: #29cc79;
    border: 2px solid #29cc79;
}
#solution_option3 {
    background-color: #32d896;
    border: 2px solid #32d896;
}
#solution_option4 {
    background-color: #26d6ab;
    border: 2px solid #26d6ab;
}
/*Option container for small screens*/
#option_container_small {
    display: none;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: linear-gradient(to right, rgba(53, 121, 96, 0.7), rgba(0, 173, 81, 0.7), rgba(2, 236, 136, 0.7));*/
    background: radial-gradient(circle, rgba(53, 121, 96, 0.7), rgba(0, 173, 81, 0.7), rgba(2, 236, 136, 0.7));
    color: white;
    padding: 10px;
    text-align: center;
}

/*Media queries for the solutions page*/
@media screen and (max-width: 992px) {
    #option_container {
        display: none;
    }
    #option_container_small {
        display: block;
    }
}
